<div class="quizz__container">
  <div class="quizz_logo">
    <img src="assets/imgs/logo.png" alt="Logo">
    <h1>{{ title }}</h1>
  </div>

  <div *ngIf="!finished" class="quizz_questions">
    <h2>Pergunta {{ currentQuestionIndex + 1 }} de {{ questions.length }}</h2>
    <h2>{{ questionSelected.question }}</h2>
  </div>

  <div *ngIf="!finished" class="quizz_options">
    <button
      *ngFor="let option of getShuffledOptions()"
      (click)="playerChoice(option.alias)"
      class="btn-option"
    >
      {{ option.name }}
    </button>
  </div>

  <div *ngIf="finished" class="quizz_results">
    <h1>O seu resultado é:</h1>
		<p>{{ anime }}</p>
		<p>{{ winningType }}</p>
		<p>{{ resultCharacter }}</p>
    <p>{{ answerSelected }}</p>
    <div *ngIf="characterImage" class="character-image">
      <img [src]="characterImage" alt="{{ resultCharacter }}" style="max-width: 200px;">
    </div>
    <p class="character-description">{{ characterDescription }}</p>
    <button (click)="restartQuiz()" class="btn-restart">Jogar Novamente</button>
  </div>
</div>
